<h4>Add Todo</h4>
<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="todoType" class="form-label">Todo Type</label>
        <input type="text" class="form-control" id="todoType" name="desc" [(ngModel)]="title">
    </div>
    <div class="mb-3">
        <label for="todoDesc" class="form-label">Todo Description</label>
        <input type="text" class="form-control" id="todoDesc" name="desc" [(ngModel)]="desc">
    </div>
    <button type="submit" class="btn btn-primary">Add Todo</button>
</form>